body {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
}
.sub-header {
  color: #89b45d;
  font-weight: bold;
  font-size: 18px;
}
.majorTypesNext:hover{
  background-color: #13a500;
  color: white;
  border: none;
  cursor: pointer; 
}
.goToHome:hover{
  background-color: #109703;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer; 
}
.goToHome{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: center;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: white;
  text-align: center;
  top: 20px;
}

.rectangle-wrapper {
  background-color: #ffffff;
  width: 500px;
  min-height: 300px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: center;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.rectangle-wrapper-home {
  background-color: #ffffff;
  min-width: 1000px;
  min-height: 500px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: center;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}